[submodule "libs/cpython"]
	path = libs/cpython
	url = https://github.com/python/cpython/
[submodule "libs/pyotherside"]
	path = libs/pyotherside
	url = https://github.com/thp/pyotherside
[submodule "libs/ffmpeg"]
	path = libs/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "libs/pydub"]
	path = libs/pydub
	url = https://github.com/jiaaro/pydub
[submodule "libs/lame"]
	path = libs/lame
	url = https://github.com/lameproject/lame
