[submodule "libs/cpython"]
	path = libs/cpython
	url = https://github.com/python/cpython/
[submodule "libs/pyotherside"]
	path = libs/pyotherside
	url = https://github.com/thp/pyotherside
[submodule "libs/ffmpeg"]
	path = libs/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
