[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=moe.smoothie.audioworks
Exec=moe.smoothie.audioworks
Name=Audioworks

[X-Application]
OrganizationName=moe.smoothie
ApplicationName=audioworks
Permissions=Camera;Audio;Microphone;MediaIndexing;Music;RemovableMedia;UserDirs
